@charset "UTF-8";
/* CSS Document */

#container {
    position: absolute;
    width:300px;
    height:250px; 
    background: url('background.jpg'); 
    border:solid;
    border-color:#000;
    border-width:1px;
    overflow:hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
a img {
	border: none; 
	text-decoration:none;
	outline:none;
}
a:hover img {
	border: none; 
	text-decoration:none;
	outline:none;
}

#logo,#left_cloud,#right_cloud,#switch_now,#switch_glow1,#switch_glow2,#switch_glow3,#switch_glow4,#switch_glow5{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	display: none;
	z-index: 2;
}
#tv{
	z-index: 10;
	display: block;
	position: absolute;
}
#rain1,#rain2,#rain3,#rain4,#rain5,#rain6,#rain7,#rain8,#rain9,#rain10,#rain11,#rain12,#rain13,#rain14{
	position: absolute;
	top: -520px;
	left: -150px;
	display: none;
	z-index: 1;
}
